---
import { Icon } from "astro-icon";
import about from "@/about";
---

<div class="relative flex space-x-3 text-zinc-700">
    <a href={about.socials.twitter} class="hover:text-app-600">
        <Icon name="tabler:brand-twitter" class="h-7 w-7" />
    </a>
    <a href={about.socials.linkedin} class="hover:text-app-600">
        <Icon name="tabler:brand-linkedin" class="h-7 w-7" />
    </a>
    <a href={about.socials.buymeacoffee} class="hover:text-app-600">
        <Icon name="tabler:coffee" class="h-7 w-7" />
    </a>
    <a href={about.socials.github} class="hover: hover:text-app-600">
        <Icon name="tabler:brand-github" class="h-7 w-7" />
    </a>
    <a href={about.socials.email} class="transition-colors hover:text-app-600">
        <Icon name="tabler:mail" class="h-7 w-7" />
    </a>
</div>
