---
import { Icon } from 'astro-icon';
import about from '@/about';
---

<div class="flex space-x-2 text-slate-600 relative">
    <a href={about.socials.twitter} class="group hover:text-blue-500">
        <Icon name="mdi:twitter" class="w-7 h-7" />
    </a>
    <a href={about.socials.linkedin} class="hover:text-blue-900 transition-colors">
        <Icon name="mdi:linkedin" class="w-7 h-7" />
    </a>
    <a href={about.socials.buymeacoffee} class="hover:text-yellow-400 transition-colors">
        <Icon name="mdi:beer" class="w-7 h-7" />
    </a>
    <a href={about.socials.github} class="hover:text-white hover: transition-colors">
        <Icon name="mdi:github" class="w-7 h-7" />
    </a>
    <a href={about.socials.email} class="hover:text-app transition-colors">
        <Icon name="mdi:email-fast" class="w-7 h-7" />
    </a>
</div>
<script>

const profilePicture = document.getElementById('profilePicture');

// a key map of allowed keys
var allowedKeys = {
  37: 'left',
  38: 'up',
  39: 'right',
  40: 'down',
  65: 'a',
  66: 'b'
};

// the 'official' Konami Code sequence
var konamiCode = ['up', 'up', 'down', 'down', 'left', 'right', 'left', 'right', 'b', 'a'];

// a variable to remember the 'position' the user has reached so far.
var konamiCodePosition = 0;

// add keydown event listener
document.addEventListener('keydown', function(e) {
  // get the value of the key code from the key map
  var key = allowedKeys[e.keyCode];
  // get the value of the required key from the konami code
  var requiredKey = konamiCode[konamiCodePosition];

  // compare the key with the required key
  if (key == requiredKey) {

    // move to the next key in the konami code sequence
    konamiCodePosition++;

    // if the last key is reached, activate cheats
    if (konamiCodePosition == konamiCode.length) {
      activateCheats();
      konamiCodePosition = 0;
    }
  } else {
    konamiCodePosition = 0;
  }
});

function activateCheats() {
    profilePicture.attributes.src.value = profilePicture.attributes.src.value === '/jorqensen.jpg' ? '/real-jorqensen.png' : '/jorqensen.jpg';
}
</script>