---
import { Icon } from 'astro-icon';
import about from '@/about';
---

<div class="flex space-x-2 text-slate-600 relative">
    <a href={about.socials.twitter} class="group hover:text-blue-500">
        <Icon name="mdi:twitter" class="w-7 h-7" />
    </a>
    <a href={about.socials.linkedin} class="hover:text-blue-900 transition-colors">
        <Icon name="mdi:linkedin" class="w-7 h-7" />
    </a>
    <a href={about.socials.buymeacoffee} class="hover:text-yellow-400 transition-colors">
        <Icon name="mdi:beer" class="w-7 h-7" />
    </a>
    <a href={about.socials.github} class="hover:text-white hover: transition-colors">
        <Icon name="mdi:github" class="w-7 h-7" />
    </a>
    <a href={about.socials.email} class="hover:text-app transition-colors">
        <Icon name="mdi:email-fast" class="w-7 h-7" />
    </a>
</div>
<script>
import confetti from 'https://cdn.skypack.dev/canvas-confetti';
const profilePicture = document.getElementById('profilePicture');
var allowedKeys = {
  37: 'left',
  38: 'up',
  39: 'right',
  40: 'down',
  65: 'a',
  66: 'b'
};
var konamiCode = ['up', 'up', 'down', 'down', 'left', 'right', 'left', 'right', 'b', 'a'];
var konamiCodePosition = 0;
document.addEventListener('keydown', function(e) {
  var key = allowedKeys[e.keyCode];
  var requiredKey = konamiCode[konamiCodePosition];
  if (key == requiredKey) {
    konamiCodePosition++;
    if (konamiCodePosition == konamiCode.length) {
      activateCheats();
      konamiCodePosition = 0;
    }
  } else {
    konamiCodePosition = 0;
  }
});

function activateCheats() {
    profilePicture.attributes.src.value = profilePicture.attributes.src.value === '/jorqensen.jpg' ? '/real-jorqensen.png' : '/jorqensen.jpg';

    confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 }
    });
}
</script>